<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apphomepages">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DynamicProgramming.Activities.DynamicProgrammingActivity"></activity>
        <activity android:name=".Greedy.Activities.GreedyActivity" />
        <activity android:name=".Graph.Activities.GraphActivity" />
        <activity
            android:name=".Graph.Activities.TopologicalOrderingActivity"
            android:label="@string/topological_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Graph.Activities.BreadthFirstSearchActivity"
            android:label="@string/breadth_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Graph.Activities.DepthFirstSearchActivity"
            android:label="@string/depth_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SearchAndSort.Activities.SortingActivity" />
        <activity android:name=".SearchAndSort.Activities.SearchingActivity" />
        <activity android:name=".Main.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>